#floater {display:inline!important; background-color:#f7f9fa; border:2px solid #c1ccd9; font-size:85%; width:250px; margin-left:-137px; margin-top:20px; position:absolute;}
a.nota { vertical-align:top; font-size:75%; padding:0 8px 0 5px; text-decoration:none;}
.iconnotapie {margin:-7px auto 0; display:block; width:9px;} #floater_inside {padding:10px;}
