/*hojaestilo01.css- Claudia, Edinson, Marcelo */
   
/**************** Para todo la página ***************************************/ 
body { 
margin: 0 auto; 
font: .7em Tahoma, Arial, sans-serif; 
line-height: 1.7em; 
background: #F0F7FC url(images/bg.jpg) repeat-x; 
color: #998d7d;
}

h1 {	
font: bold 2.2em Arial, Sans-Serif; 
color:#2f0e00;
padding: 8px 0 0 0; 
margin: 0; 
letter-spacing: -2px;
}

h2 { 
margin: 0;
color:#2f0e00; 
padding: 0 0 4px 0; 
font: bold 1.6em "Lucida Sans", Sans-Serif; 
letter-spacing: -1px; 
}

#header h1 {	
font: bold 2.0em "Lucida Sans", Sans-Serif; 
color: #a09080; 
padding: 10px 0 0 26px; 
margin: 0; 
letter-spacing: -1px;
}

#subtext { 
font-size: 0.7em; 
margin: 0 0 8px 26px; 
padding: 0; 
color: #e7e6e6; 
}

a { 
color: #2f0e00; 
background: inherit; 
}

a:hover { 
color: #9a8a7a; 
background: inherit; 
}

p {	
margin: 0 0 5px 0; 
}

ul { 
margin: 0; 
padding: 0; 
list-style: none; 
}

img { 
border: 0;
}

.clear{
width: 100%;
clear:both;
margin: 30px 0 2px 0;
height: 14px;
background: #fff url(images/tile.gif) repeat-x;
}
td { 
font: .7em Tahoma, Arial, sans-serif; 
}

/******************** Galeria d Fotos ***************************************/

.thumbs img{
position:relative;
padding:0px;
margin:2px 3px 3px 4px;
border:3px solid #2f0e00;
background-color:inherit;
}

.thumbs img:hover{
border:3px solid #9a8a7a;
}

/**************** El contenido Principal*************************************/

#wrapper { 
margin: 5px auto; 
width: 980px;
border: 1px solid #9c8c7d;
background: #fff; 
}

#header { 
margin: 0 0 1px 0;
background:url(images/header.jpg) no-repeat;
height:60px; 
}

#pic { 
margin-bottom:2px;
height: 150px;
background: url(images/banner.jpg) no-repeat;
}

/**************** El menu principal******************************************/

#menu {
margin: 0px 0 0px 0;
/* margin: 2px 0 4px 0; */
padding: 0px 0px; 
/* padding: 5px 2px; */
float: right; 
}

#menu li{ 
list-style: none; 
display: inline; 
margin: 0; 
}

#menu li a{
text-decoration: none;
padding: 6px 6px;
margin-right:7;
background: #2f0e00; 

font-weight: bold;
color: #fff;
}

#menu li a:hover{
background: #9a8a7a;
color: #000;
}

/************************** El lado izquierdo *******************************/

#leftside {
float: left;
width: 20%;
--width: 220px;meq
border-right: 1px solid #bbafa3;
margin: 0 0 8px 0;
}

.category {
padding: 6px;	
margin: 0 0 5px 0;
color: #9c8c7d;
background: #fff;
}

.leftdata {
padding: 8px;	
margin: 0 0 5px 0;
color: #9c8c7d;
background: #fff;
}

#leftnav {
width: 98%;
-- width: 190px;meq
padding: 0;
margin-bottom: 0px;
font-size: 10px;
color: #9c8c7d;
}

#leftnav ul {
list-style: none;
margin: 0;
padding: 0;
border: none;
}

#leftnav li {
border-bottom: 1px solid #fff;
margin: 0;
width: auto;
}

#leftnav li a {
display: block;
padding: 5px 0px 2px 15px;
color: #fff;
text-transform:uppercase;
font-weight:bold;
text-decoration: none;
width: auto;
background:#2f0e00 url(images/menuarrow.gif) no-repeat center left;
}

#leftnav li a:hover {
color: #000;
padding: 3px 0px 2px 30px;
background: #9a8a7a url(images/menuarrowhover.gif) no-repeat center left;;
font-weight:bold;
}

.leftphoto { 
float: left; 
margin: 0 9px 3px 0; 
}

/*************************** El lado derecho ********************************/

#rightside {
float: right;
width: 79%;
-- width: 750px;meq
margin: 0 0 10px 0;
}

.headline {
margin: 0 0 5px 0;
padding: 8px;
color: #9c8c7d;
background: #fff;
}

.rightdata {
margin: 0px 0 5px 0;
background: #fff;
color: #9c8c7d;
padding: 10px 15px 5px 10px;
}

.photo {
float: left;
clear: left;
border: 2px solid #9a8a7a;
background: #eee;
margin: 0 10px 2px 0;
}

.gallery {
background: #fff;
color: #9c8c7d;
padding: 20px 10px 10px 10px;
margin: 0 0 5px 0;
}

/**************** El pie de página*******************************************/

#footer { 
clear: both; 
color: #9c8c7d;
background: #fff;
padding: 10px 15px;
}

#footer .copyright { 
float: right; 
}