.WebPartShadow {
	padding: 15px;
	border-right: 2px solid #9aaabb;
	border-top: 1px solid #cccccc;
	MARGIN-TOP: 8px; FONT-SIZE: 11px; BORDER-LEFT: #cccccc 1px solid; LINE-HEIGHT: 15px; BORDER-BOTTOM: #9aaabb 2px solid; BACKGROUND-COLOR: #f5f5f5;
	width: 915px;
	margin-right: 467px;
	height: 1050px;
}

.WebPartShadow3 {
	padding: 15px;
	border-right: 2px solid #9aaabb;
	border-top: 1px solid #cccccc;
	MARGIN-TOP: 8px; FONT-SIZE: 11px; BORDER-LEFT: #cccccc 1px solid; LINE-HEIGHT: 15px; BORDER-BOTTOM: #9aaabb 2px solid; BACKGROUND-COLOR: #f5f5f5;
	width: 1135px;
	margin-right: 467px;
	vertical-align:central;
}

.WebPartShadow2 {
	BORDER-RIGHT: #9aaabb 2px solid; PADDING-RIGHT: 15px; BORDER-TOP: #cccccc 1px solid; MARGIN-TOP: 8px; PADDING-LEFT: 15px; FONT-SIZE: 11px; PADDING-BOTTOM: 15px; BORDER-LEFT: #cccccc 1px solid; LINE-HEIGHT: 15px; PADDING-TOP: 15px; BORDER-BOTTOM: #9aaabb 2px solid;/*BACKGROUND-COLOR: #f5f5f5*/ 
}

.WebPartShadow_ext {
	BORDER-RIGHT: #9aaabb 2px solid; width :815px; PADDING-RIGHT: 15px; BORDER-TOP: #cccccc 1px solid; MARGIN-TOP: 8px; PADDING-LEFT: 15px; FONT-SIZE: 11px; PADDING-BOTTOM: 15px; BORDER-LEFT: #cccccc 1px solid; LINE-HEIGHT: 15px; PADDING-TOP: 15px; BORDER-BOTTOM: #9aaabb 2px solid; BACKGROUND-COLOR: #f5f5f5
}

.WebPartShadow_ext_lecturas {
	BORDER-RIGHT: #9aaabb 2px solid; width :850px; PADDING-RIGHT: 15px; BORDER-TOP: #cccccc 1px solid; MARGIN-TOP: 8px; PADDING-LEFT: 15px; FONT-SIZE: 11px; PADDING-BOTTOM: 15px; BORDER-LEFT: #cccccc 1px solid; LINE-HEIGHT: 15px; PADDING-TOP: 15px; BORDER-BOTTOM: #9aaabb 2px solid; BACKGROUND-COLOR: #f5f5f5
}

.WebPartShadow_lectores {
	BORDER-RIGHT: #9aaabb 2px solid; width :750px; PADDING-RIGHT: 15px; BORDER-TOP: #cccccc 1px solid; MARGIN-TOP: 8px; PADDING-LEFT: 15px; FONT-SIZE: 11px; PADDING-BOTTOM: 15px; BORDER-LEFT: #cccccc 1px solid; LINE-HEIGHT: 15px; PADDING-TOP: 15px; BORDER-BOTTOM: #9aaabb 2px solid; BACKGROUND-COLOR: #f5f5f5
}

.WebPartShadow_rep {
	BORDER-RIGHT: #9aaabb 2px solid; width :950px; PADDING-RIGHT: 15px; BORDER-TOP: #cccccc 1px solid; MARGIN-TOP: 8px; PADDING-LEFT: 15px; FONT-SIZE: 11px; PADDING-BOTTOM: 15px; BORDER-LEFT: #cccccc 1px solid; LINE-HEIGHT: 15px; PADDING-TOP: 15px; BORDER-BOTTOM: #9aaabb 2px solid; BACKGROUND-COLOR: #f5f5f5
}

.WebPartShadow_pago {
	BORDER-RIGHT: #9aaabb 2px solid; width :850px; PADDING-RIGHT: 15px; BORDER-TOP: #cccccc 1px solid; MARGIN-TOP: 8px; PADDING-LEFT: 15px; FONT-SIZE: 11px; PADDING-BOTTOM: 15px; BORDER-LEFT: #cccccc 1px solid; LINE-HEIGHT: 15px; PADDING-TOP: 15px; BORDER-BOTTOM: #9aaabb 2px solid; BACKGROUND-COLOR: #f5f5f5
}

.WebPartShadow_rango {
	BORDER-RIGHT: #9aaabb 2px solid; width :750px; PADDING-RIGHT: 15px; BORDER-TOP: #cccccc 1px solid; MARGIN-TOP: 8px; PADDING-LEFT: 15px; FONT-SIZE: 11px; PADDING-BOTTOM: 15px; BORDER-LEFT: #cccccc 1px solid; LINE-HEIGHT: 15px; PADDING-TOP: 15px; BORDER-BOTTOM: #9aaabb 2px solid; BACKGROUND-COLOR: #f5f5f5
}

.WebPartShadow_multiusuario {
	BORDER-RIGHT: #9aaabb 2px solid; width :300px; PADDING-RIGHT: 15px; BORDER-TOP: #cccccc 1px solid; MARGIN-TOP: 8px; PADDING-LEFT: 15px; FONT-SIZE: 11px; PADDING-BOTTOM: 15px; BORDER-LEFT: #cccccc 1px solid; LINE-HEIGHT: 15px; PADDING-TOP: 15px; BORDER-BOTTOM: #9aaabb 2px solid; BACKGROUND-COLOR: #f5f5f5
}

.WebPartShadow_analizador {
	BORDER-RIGHT: #9aaabb 2px solid; width :950px; PADDING-RIGHT: 15px; BORDER-TOP: #cccccc 1px solid; MARGIN-TOP: 8px; PADDING-LEFT: 15px; FONT-SIZE: 11px; PADDING-BOTTOM: 15px; BORDER-LEFT: #cccccc 1px solid; LINE-HEIGHT: 15px; PADDING-TOP: 15px; BORDER-BOTTOM: #9aaabb 2px solid; BACKGROUND-COLOR: #f5f5f5
}

.WebPartShadow_fotografia {
	BORDER-RIGHT: #9aaabb 2px solid; width :1550px; PADDING-RIGHT: 15px; BORDER-TOP: #cccccc 1px solid; MARGIN-TOP: 8px; PADDING-LEFT: 15px; FONT-SIZE: 11px; PADDING-BOTTOM: 600px; BORDER-LEFT: #cccccc 1px solid; LINE-HEIGHT: 15px; PADDING-TOP: 15px; BORDER-BOTTOM: #9aaabb 2px solid; BACKGROUND-COLOR: #f5f5f5
}

.WebPartShadow_rep_rutero {
	BORDER-RIGHT: #9aaabb 2px solid; width :790px; PADDING-RIGHT: 15px; BORDER-TOP: #cccccc 1px solid; MARGIN-TOP: 8px; PADDING-LEFT: 15px; FONT-SIZE: 11px; PADDING-BOTTOM: 15px; BORDER-LEFT: #cccccc 1px solid; LINE-HEIGHT: 15px; PADDING-TOP: 15px; BORDER-BOTTOM: #9aaabb 2px solid; BACKGROUND-COLOR: #f5f5f5
}

.WebPartShadow_historicos {
	BORDER-RIGHT: #9aaabb 2px solid; width :750px; PADDING-RIGHT: 15px; BORDER-TOP: #cccccc 1px solid; MARGIN-TOP: 8px; PADDING-LEFT: 15px; FONT-SIZE: 11px; PADDING-BOTTOM: 15px; BORDER-LEFT: #cccccc 1px solid; LINE-HEIGHT: 15px; PADDING-TOP: 15px; BORDER-BOTTOM: #9aaabb 2px solid; BACKGROUND-COLOR: #f5f5f5
}

.WebPartShadow_seguimiento {
	BORDER-RIGHT: #9aaabb 2px solid; width :1100px; PADDING-RIGHT: 15px; BORDER-TOP: #cccccc 1px solid; MARGIN-TOP: 8px; PADDING-LEFT: 15px; FONT-SIZE: 11px; PADDING-BOTTOM: 15px; BORDER-LEFT: #cccccc 1px solid; LINE-HEIGHT: 15px; PADDING-TOP: 15px; BORDER-BOTTOM: #9aaabb 2px solid; BACKGROUND-COLOR: #f5f5f5
}

.WebPartShadow_efe_lector {
	BORDER-RIGHT: #9aaabb 2px solid; width :765px; PADDING-RIGHT: 15px; BORDER-TOP: #cccccc 1px solid; MARGIN-TOP: 8px; PADDING-LEFT: 15px; FONT-SIZE: 11px; PADDING-BOTTOM: 15px; BORDER-LEFT: #cccccc 1px solid; LINE-HEIGHT: 15px; PADDING-TOP: 15px; BORDER-BOTTOM: #9aaabb 2px solid; BACKGROUND-COLOR: #f5f5f5
}

.WebPartSimple {
	BORDER-RIGHT: #cccccc 1px solid; PADDING-RIGHT: 15px; BORDER-TOP: #cccccc 1px solid; MARGIN-TOP: 8px; PADDING-LEFT: 15px; FONT-SIZE: 11px; PADDING-BOTTOM: 15px; BORDER-LEFT: #cccccc 1px solid; LINE-HEIGHT: 15px; PADDING-TOP: 15px; BORDER-BOTTOM: #cccccc 1px solid; BACKGROUND-COLOR: #eeeeee
}
.WebPartMenu {
	border: 1px solid #000000;
    LINE-HEIGHT: 15px; BACKGROUND-COLOR: #eeeeee;
    margin-left: 101px;
}
.WebPartTitle {
	FONT-WEIGHT: bold;
	FONT-SIZE: 15px; 
	MARGIN-BOTTOM: 6px;
	COLOR: #003366;
	BORDER-BOTTOM: #999 1px dotted;
	FONT-FAMILY: "trebuchet ms", trebuchet, arial, sans-serif;
	background-position: left;
	width: 285px;
    padding-bottom:10px;
}
.WebPartTitle_ext {
	FONT-WEIGHT: bold;
	FONT-SIZE: 15px;
	width :815px; 
	MARGIN-BOTTOM: 6px;
	COLOR: #003366;
	BORDER-BOTTOM: #999 1px dotted;
	FONT-FAMILY: "trebuchet ms", trebuchet, arial, sans-serif;
	background-position: left;
}

.WebPartTitle_lectores {
	FONT-WEIGHT: bold;
	FONT-SIZE: 15px;
	width :750px; 
	MARGIN-BOTTOM: 6px;
	COLOR: #003366;
	BORDER-BOTTOM: #999 1px dotted;
	FONT-FAMILY: "trebuchet ms", trebuchet, arial, sans-serif;
	background-position: left;
}

.WebPartTitle_rep {
	FONT-WEIGHT: bold;
	FONT-SIZE: 15px;
	width :800px; 
	MARGIN-BOTTOM: 6px;
	COLOR: #003366;
	BORDER-BOTTOM: #999 1px dotted;
	FONT-FAMILY: "trebuchet ms", trebuchet, arial, sans-serif;
	background-position: left;
}

.WebPartTitle_pago {
	FONT-WEIGHT: bold;
	FONT-SIZE: 15px;
	width :850px; 
	MARGIN-BOTTOM: 6px;
	COLOR: #003366;
	BORDER-BOTTOM: #999 1px dotted;
	FONT-FAMILY: "trebuchet ms", trebuchet, arial, sans-serif;
	background-position: left;
}

.WebPartTitle_rango {
	FONT-WEIGHT: bold;
	FONT-SIZE: 15px;
	width :750px; 
	MARGIN-BOTTOM: 6px;
	COLOR: #003366;
	BORDER-BOTTOM: #999 1px dotted;
	FONT-FAMILY: "trebuchet ms", trebuchet, arial, sans-serif;
	background-position: left;
}

.WebPartTitle_multiusuario {
	FONT-WEIGHT: bold;
	FONT-SIZE: 15px;
	width :300px; 
	MARGIN-BOTTOM: 6px;
	COLOR: #003366;
	BORDER-BOTTOM: #999 1px dotted;
	FONT-FAMILY: "trebuchet ms", trebuchet, arial, sans-serif;
	background-position: left;
}

.WebPartTitle_analizador {
	FONT-WEIGHT: bold;
	FONT-SIZE: 15px;
	width :950px; 
	MARGIN-BOTTOM: 6px;
	COLOR: #003366;
	BORDER-BOTTOM: #999 1px dotted;
	FONT-FAMILY: "trebuchet ms", trebuchet, arial, sans-serif;
	background-position: left;
}

.WebPartTitle_fotografia {
	FONT-WEIGHT: bold;
	FONT-SIZE: 15px;
	width :1550px; 
	MARGIN-BOTTOM: 6px;
	COLOR: #003366;
	BORDER-BOTTOM: #999 1px dotted;
	FONT-FAMILY: "trebuchet ms", trebuchet, arial, sans-serif;
	background-position: left;
}

.WebPartTitle_seguimiento {
	FONT-WEIGHT: bold;
	FONT-SIZE: 15px;
	width :1100px; 
	MARGIN-BOTTOM: 6px;
	COLOR: #003366;
	BORDER-BOTTOM: #999 1px dotted;
	FONT-FAMILY: "trebuchet ms", trebuchet, arial, sans-serif;
	background-position: left;
}

.WebPartTitle_xml {
	FONT-WEIGHT: bold;
	FONT-SIZE: 15px;
	width :750px; 
	MARGIN-BOTTOM: 6px;
	COLOR: #003366;
	BORDER-BOTTOM: #999 1px dotted;
	FONT-FAMILY: "trebuchet ms", trebuchet, arial, sans-serif;
	background-position: left;
}
.punteado {	
	FONT-SIZE: 15px;	
	COLOR: #003366;	
	FONT-FAMILY: "trebuchet ms", trebuchet, arial, sans-serif;
	background-position: left;
}


